# Binaries for programs and plugins
*.dll
*.so
*.dylib
.vscode

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

ms-demo-golang
ms-demo-node
ms-demo-kokua
